{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Регистрация" %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'stickers/header.html' %}

    <div class="container">
        <h1>{% trans "Регистрация" %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Зарегистрироваться" %}</button>
        </form>
        <p>{% trans "-- Или зарегистрируйтесь через --" %}</p>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="social-button">{% trans "Регистрация через Google" %}</a>
        <p>{% trans "Уже есть аккаунт?" %} <a href="{% url 'login' %}">{% trans "Войти" %}</a></p>
    </div>

    <script src="{% static 'stickers/js/scripts.js' %}"></script>
</body>
</html>